{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href={% static "vendor/css/bootstrap.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/main.css" %}>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization,geometry"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src={% static "js/map.js" %}></script>
		<script src={% static "js/resto.js" %}></script>
		<script src={% static "js/heatmap.js" %}></script>
		<script src={% static "js/mercator.js" %}></script>
		<script src={% static "vendor/js/bootstrap.min.js" %}></script>
		<!-- <link rel="stylesheet" type="text/css" href="../static/vendor/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../static/css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization,geometry"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="../static/js/map.js"></script>
		<script src="../static/js/resto.js"></script>
		<script src="../static/js/heatmap.js"></script>
		<script src="../static/js/mercator.js"></script>
		<script src="../static/vendor/js/bootstrap.min.js"></script> -->
		<script>
			var map;
			var heatMap;

			function initialize() {
				map = initMap('map-canvas');
				heatMap = new HeatMap();
				heatMap.generate(map);
			};
			google.maps.event.addDomListener(window, 'load', initialize);
		</script>
		<script>
			function outputUpdate(rad) {
				heatMap.setRadius(rad);
				document.querySelector("#radiusdisplay").value = rad;
			};
			function viewSubmenu(menu) {
				$(menu).find('.submenu').show(300);
			}
			function closeSubmenu(menu) {
				$(menu).find('.submenu').hide(300);
			}
		</script>
	</head>
	<body>
		<div class="container fullscreen">
			<div class="row fullheight">
				<div class="col-xs-2 fullheight sidebar">
					<div style="height: 1px;"></div>
					<div onmouseleave="closeSubmenu(this)" onmouseenter="viewSubmenu(this)">
						<button type="button" class="btn btn-primary sidebarbutton">Restaurants</button>
						<div class="submenu">
							<div>
								<label>Type</label>
								<button type="button" class="btn btn-primary submenubutton" data-toggle="modal" data-target="#menumodal">+</button>
							</div>
							<div>
								<label>Kitchen</label>
								<button type="button" class="submenubutton">+</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-10 fullheight">
					<div id="map-canvas" class="fullscreen">
					</div>
					<div class="horseshit fullscreen">
						<div class="heatmapmenu">
							<label class="colorwhite" for="radius">Radius</label>
							<output class="colorwhite" for="radius" id="radiusdisplay" style="display:inline; padding-left:2px;">100</output>
							<label class="colorwhite" for="radius">meters</label>
							<input type="range" min=10 max=1000 step=5 id="radius" value=100 oninput="outputUpdate(value)">
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modals -->
		<div class="modal fade" id="menumodal" tabindex="-1" role="dialog">
			<div class="modal-dialog">
		</div>
	</body>
</html>
