<!--{% load staticfiles %}-->

<!DOCTYPE html>
<html>
	<head>
		<!--<link rel="stylesheet" type="text/css" href={% static "vendor/css/bootstrap.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/main.css" %}>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src={% static "js/map.js" %}></script>
		<script src={% static "js/drawingcontrol.js" %}></script>
		<script src={% static "vendor/js/bootstrap.min.js" %}></script>-->
		<link rel="stylesheet" type="text/css" href="../static/vendor/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../static/css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script src="http://www.chartjs.org/assets/Chart.min.js"></script>
		<script src="../static/js/map.js"></script>
		<script src="../static/js/modal.js"></script>
		<script src="../static/js/drawingcontrol.js"></script>
		<script src="../static/vendor/js/bootstrap.min.js"></script>
		<script>
			var map;
			var modal = new Modal();
			var drawingManager;
			var curPolygon;
			function initialize() {
				map = initMap('map-canvas');
				drawingManager = new google.maps.drawing.DrawingManager({
					drawingControl: false,
					drawingMode: null
				});
				drawingManager.setMap(map);
				
				google.maps.event.addListener(drawingManager, 'polygoncomplete', polygonSetMap);
				
				function polygonSetMap(polygon) {
					if(polygon.getPath().length < 3) {
						polygon.setMap(null);
						return;
					}
					if(curPolygon != null)
						curPolygon.setMap(null);
					curPolygon = polygon;
				};

				$('span').tooltip();
			};
			
			function computeItFirstStep() {
				var scoresJSON = computeIt();
				
			};
			
			google.maps.event.addDomListener(window, 'load', initialize);
		</script>
		<script>
		function viewSubmenus(submenu) {
			$(this).find('.submenu').stop(true).slideDown(150);
		}
		function closeSubmenus(submenu) {
			$(this).find('.submenu').stop(true).slideUp(150);
		}
		
		function fadeItIn(footerbar) {
			$(this).fadeTo(50, 1.0);
		};
		function fadeItOut(footerbar) {
			$(this).fadeTo(50, 0.7);
		};
		$(function() {
			$( "#age-slider" ).slider({
				range: true,
				min: 10,
				max: 100,
				values: [ 18, 40 ],
				slide: function( event, ui ) {
				$( "#agediv" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ]);
				}
			});
			$( "#agediv" ).val($( "#age-slider" ).slider( "values", 0 ) + " - " + $( "#age-slider" ).slider( "values", 1 ) );
						
			$('.thatDiv').hover(viewSubmenus, closeSubmenus);
			var tmp = $('.footerbar');
			tmp.hover(fadeItIn, fadeItOut);
		});
		</script>
	</head>
	<body>
		<div class="container fullscreen">
			<div class="row fullheight">
				<div class="col-xs-2 fullheight sidebar">
						<div class="thatDiv">
							<button type="button" class="btn btn-primary sidebarbutton thatDiv">Age</button>
							<div class="submenu">
								<div class="row submenuoption">
									<input type="text" id="agediv" readonly style="border:0; color:#333333; background: #e48312; width: 30%; float: left; font-weight: bold;">
									<div id="age-slider" style="width: 60%; float: left; margin-top: 5px; margin-right: 5px;"> </div>
								</div>
							</div>
						</div>
						<div class="thatDiv">
							<button type="button" class="btn btn-primary sidebarbutton thatDiv">Gender</button>
							<div class="submenu">
								<div class="row submenuoption">
									<label class="submenulabel" style="float: left;width: auto">Male</label>
									<input type="checkbox" id="ismale" style="border:0; width: 20%; float: left;" checked>
									<label class="submenulabel" style=" float:left; margin-left: 20px; width: auto">Female</label>
									<input type="checkbox" id="isfemale" style="border:0; width: 20%; float: left;" checked>
								</div>
							</div>
						</div>
				</div>
				<div class="col-xs-10 fullheight">
					<div id="map-canvas" class="fullscreen">
					</div>
					<div class="horseshit fullscreen">
						<div class="footerbar">
						  <button type="button" class="btn btn-primary footerbarbutton leftmostbutton" onclick="clearAll()">clear</button>
						  <button type="button" class="btn btn-primary footerbarbutton" onclick="startPolygon()">start</button>
						  <button type="button" class="btn btn-primary footerbarbutton" onclick="stopPolygon()">stop</button>
						  <button type="button" class="btn btn-primary footerbarbutton" onclick="computeIt(bizsugmodal)">compute</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="bizsugmodal" tabindex="-1" role="dialog">
			<div class="modal-dialog" style="width: 700px;">
				<div class="modal-content">
					<div class="modal-header">
						Scores for Different Criteria
					</div>
					<div class="modal-body" id="infomodalcontent" style="width: 700px; height: 760px">
						<div style="float: left">
							<h3><span class="label label-default" style="margin-left: 10px;" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Higher rate, higher is interest of people to your business">User Score</span></h3>
							<canvas id="userScore" width="300" height="300" style="float: left"></canvas>
						</div>
						<div style="float: left">
							<h3><span class="label label-default" style="margin-left: 10px;" data-toggle="tooltip" href="#" data-original-title="Approximate possible wage cost">Wages Score</span></h3>
							<canvas id="wagesScore" width="300" height="300" style="float: left"></canvas>
						</div>
						<div style="float: left">
							<h3><span class="label label-default" style="margin-left: 10px;"data-toggle="tooltip" href="#" data-original-title="Approximate possible income">Income Score</span></h3>
							<canvas id="incomeScore" width="300" height="300" style="float: left"></canvas>
						</div>
						<div style="float: left">
							<h3><span class="label label-default" style="margin-left: 10px;" data-toggle="tooltip" href="#" data-original-title="Higher rate, higher possible number customers per day">Customers Score</span></h3>
							<canvas id="customersScore" width="300" height="300" style="float: left"></canvas>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary submitButton" data-dismiss="modal">Okay</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>