{% load staticfiles %}

<!DOCTYPE html>

<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Pirata+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	</head>
	<body style="position: relative;">
		<img src="../static/images/notFoundMap.jpg" style="background-position: center center; background-size: cover; background-repeat: no-repeat; background-repeat: no-repeat;" class="fullscreen">

		<div style="font-family: 'Pirata One', cursive; font-size: 400%; text-align: center; position: absolute; width: 100%; top: 10%">
			404: Page Not Found!
		</div>
	</body>
</html>